<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>
          I'm currently studying a Msc in Computer Science at <a href="https://www.hw.ac.uk/">Heriot Watt University</a>
          An advanced and specialist program which is a blend of theoretical and applied studies<br>
          Focused on learning and mastering multiple programming languages, in particular: C#, C, Java and Javascript
        </p>
        <p>
          I've started programming by learning C, while studying for my Chemistry undergraduate concurrenlty I learned
          and mastered C# and Java. <br>
          I've build games with Unity game engine, and also developed small android apps using these two languages. <br>
          My passion for Game Developing pushed me to learn other game engines like: Godot and Phaser.js <br>
          Right now I'm using and learning Node.js for developing Web Applications. <br>
          I also like building things using Arduino board.
        </p>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top:0;">I'm Working on:</h3>
        <ul>
          <li>
            RESTful API for a social web app, for my Network Application course
          </li>
          <li>
            Application to manage a coffee shop in JAVA, using AGILE methodology
          </li>
          <li>
            Temporal planner visualizer, using Godot game engine
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>