<section class="tout" id="interests">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Interests</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>
          My personal interests include:
        </p>
        <ul>
          <li>Playing the drums</li>
          <li>Playing and Programming Retro Videogames</li>
          <li>Writing</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top:0">Personal Projects</h3>
        <p>These are the projects that I'm working on independently from the University</p><br>
        <p>You can find them in my <a href="https://github.com/Cryoscopic-E">git hub page</a>.</p>
        <ul>
          <li>A tutorial on javascript and <a href="https://phaser.io/"> phaser.js</a></li>
          <li>A genetic algorithms that plays angry bird with unity</li>
          <li>A python web scraper project</li>
        </ul>
      </div>
    </div>
  </div>
</section>