<section class="tout" id="myprojects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Try My Web Projects</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <ul>
                    <li>
                        <h3> <a href="../projects/cod&play/Cod&play2.html">Cod&play</a></h3>
                        <p>A code playground to test HTML CSS and Javascript on the fly</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</section>